@charset "UTF-8";

/* Paleta de cores
verde: #49a09d 
lilaz: #5f2c82
*/

* {
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-image: linear-gradient(to bottom, rgba(117, 116, 116, 0.76) , rgba(0, 0, 0, 0.993));
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.788);
    transition: width
    1s, height 1s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/pexels-mark-rangel-1210101\ \(1\).jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top  ;
    

}
section#login > div#formulario  {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.9em;
}
form > .campo {
    background-color:gray ;
    display: block;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin: 0px 0px;
    padding: 8px;
   
}

form label {
    display: none;
  
}
#ilogin {
    border-radius:3px;
}
#isenha {
    border-radius:3px;
}

form > .senha {
    background-color:gray ;
    display: block;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin: 0px 0px;
    padding: 8px;
    

}

form > input[type=submit]{
    padding: 1px;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color:darkgray;
    cursor: pointer;

}

form > a.botao {
    display: block;
    text-align: center;
    font-size:1em;
    width: 100%;
    height: 40px;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    color: ghostwhite;
    padding: 5px;
    text-decoration: none;
}

font > a.botao > span {
    font-size: 1.2em;
    padding: 10px;
}

form > a.botao:hover { 
  cursor: pointer;
  background-color:darkgray;
  
} 